@import "reset.less";
@import "var.less";

@font-face {
  font-family: 'wanghanzongyankaiti';

  src:
    url('../font/wanghanzongyankaiti.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: 'wanghanzongyankaiti'
}

#app {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

// 居中loading
.spin-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;
}

// 居中empty
.empty-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  opacity: 1;
}

// 滚动条消失
.scrollbar-hide() {
  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
  }
}

// 滚动条展示
.scrollbar-show() {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  // 轨道
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  // 滑块
  &::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 50px;
  }
}

// a标签
.a-common() {
  a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

// ul
.ul-common() {
  ul {
    list-style: none;
  }
}

// 文本
/*
 * 文本显示不完显示...
 * @param
 */
.text-ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * 文本显示不完显示...
 * @param
 */
.texts-ellipsis(@rows) {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: @rows;
  overflow: hidden;
}